{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content_title %}
  <h2 class="h3">{% trans "Sign Up" %}</h2>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
{% endblock %}

{% block content %}

<form action="{% url 'account_signup' %}" class="bg-white p-5 contact-form signup" method="post" id="signup_form">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group">
    <input type="submit" value="{% trans 'Sign Up' %}" class="btn btn-primary py-3 px-5">
  </div>
</form>

{% endblock %}