{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load auth_extras %}
<div class="col-md-12">
  <div class="team d-md-fle p-4 bg-white">
    <div class="px-md-4">
            <span class="location mb-0">
              {% trans "Course City: " %}{{ course.city }}
            </span>
      <h2>{{ course.title }}</h2>
      {% for area in  course.area.all %}
        <span class="position">{{ area }} </span>
        {% if course.center %}<p>{% trans "Center" %}:
          {{ course.center.name }}
        </p>
        {% endif %}
      {% endfor %}
      <p class="mb-2">{{ course.descrip }}</p>
      <table class="table table-bordered mt-4">
        <tbody>
        <tr>
          <th scope="row">{% trans "Locations" %}</th>
          <td>
            {% for location in course.locations.all %}
              {{ location }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Age" %}</th>
          <td>
            {% for age in  course.age.all %}
              {{ age }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Student level" %}</th>
          <td>
            {{ course.level }}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Duration" %}</th>
          <td>{{ course.duration }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "The class is taught in" %}</th>
          <td>
            {% for language in  course.language.all %}
              {{ language }}
            {% endfor %}
          </td>
        </tr>
        </tbody>
      </table>
      {% if user.student %}
        <form action="{% url 'courses:enrollments:create' %}" method="post" class="d-none" id="enrollment-form">
          {% csrf_token %}
          {{ enrollment_form }}
        </form>
        {% if enrollment_accepted is None %}
          <div class="alert alert-primary" role="alert">
            Your enrollment is under review.
          </div>
        {% elif enrollment_accepted is True %}
          <div class="alert alert-success" role="alert">
            Your enrollment was accepted.
          </div>
        {% elif enrollment_accepted is False %}
          <div class="alert alert-warning" role="alert">
            Your enrollment was rejected.
          </div>
        {% elif enrollment_accepted == "not_existing" %}
          <button id="enroll" type="button" class="btn btn-primary">Enroll</button>
          <div id="enrollment-sent-alert" class="alert alert-primary d-none" role="alert">
            Your enrollment request was sent.
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>