{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "Сourse" %}</h2>
{% endblock content_title %}

{% block content %}
  <form action="" class="bg-white p-5 contact-form" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ form|crispy }}
    <h4 class="h4">{% trans "Locations" %}</h4>
    {% for location_form in formset %}
      <div class="row formset-row">
      {% for field in location_form.visible_fields %}
        <div class="col">{{ field|as_crispy_field }}</div>
      {% endfor %}
      </div>
      {% for field in location_form.hidden_fields %}
        {{ field|as_crispy_field }}
      {% endfor %}
    {% endfor %}
    <div class="form-group">
      <input type="submit" value='{% trans "Submit" %}' class="btn btn-primary py-3 px-5 mt-3">
    </div>
  </form>
{% endblock content %}

{% block project_js %}
  {{ block.super }}
  <script src={% static "vendor/jquery.formset.js" %}></script>
  <script src={% static "js/course_edit.js" %}></script>
{% endblock project_js %}

