{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "Join requests"%}</h2>
{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for join_request in object_list %}
      <li class="list-group-item">
        {% if join_request.center.admin == user.professor %}
          <input
              id="chkToggle"
              type="checkbox"
              data-toggle="toggle"
              data-size="xs"
              class="status-toggle mr-3"
              data-ajax-target="{% url "courses:join_requests:edit" join_request.pk %}"
              {% if join_request.accepted %} checked {% endif %}
              data-on="{% trans 'On' %}"
              data-off="{% trans 'Off' %}">
        {% endif %}

        <span class="ml-3">{{ join_request.center }}: {{ join_request.professor }}</span>

      </li>
    {% empty %}
      <li class="list-group-item">{% trans "No join requests yet." %}</li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block project_js %}
  {{ block.super }}
  <script src={% static "js/join_request_list.js" %}></script>
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
